<% content_for :head do %>
	<title>RailsRankings.com: Ruby on Rails developers and coders <%= show_search_term %></title>
	<meta name="description" content="RailsRankings, over <%= pluralize(@count,"Rails Coder") %> matching '<%= params[:search] %>'. Search for Rails developers, coders, companies, and cities." />
	<meta name="verify-v1" content="D4WmRlOo3zesW7GMJuW1/nCSxEdMqGiS7L+qZYf5IAI=" />
	<meta name="keywords" content="<%=  coder_metadata(@coders)%>"/>
	<link rel="canonical" href="http://railsrankings.com/coders/" />
<% end %>

<div id="page" class="top_rule">
	<div id="content">
		<% cache :all_coders do %>
		<%= will_paginate @all_coders %>		
		<ul class="github_rank">
		  <% @all_coders.each_with_index do |coder,index| %>
      <li><%= determine_rank_for_paging(index) %>. <%= show_coder_name(coder) %> <%= "(points: #{number_with_delimiter(coder.full_rank,{:delimiter => ","})})"  %></li>
      <% end %>
		</ul>
		<% end %>
	</div>
</div>