<% content_for :head do %>
	<title>RailsRankings.com Badges for Your Web Site or Blog</title>
	<meta name="description" content="Find Rails developers based on our unique ranking system. Search Ruby on Rails development companies by city. Top Rails developers, coders, consultants and companies listed." />
	<meta name="keywords" content=""/>
<% end %>

<% content_for :top_coders do %>
	<%= render :partial => "shared/top_coders" %>
<% end %>

<div class="subpage content">
	<div id="badges">
	  <h2>Get Your RailsRankings.com Badge</h2>
	  
	  <h3>80x15 Badge</h3>
	  <p><img src="/images/badges/rr_badge_80x15.gif" width="80" height="15" alt="RR Badge 80x15" /></p>
	  
	  <h3>120x45 Badge</h3>
	  <p><img src="/images/badges/rr_badge_120x45.gif" width="120" height="45" alt="RR Badge 120x45" /></p>
	  
	  <h3>120x45 Badge</h3>
	  <p><img src="/images/badges/rr_badge_240x90.gif" width="240" height="90" alt="RR Badge 240x90" /></p>
	</div>
	
	<%= render :partial => "shared/top_cities" %>
	
	<%= render :partial => "shared/top_companies" %>
	
	<%= render :partial => "shared/sponsors" %>
	
	<%= render :partial => "shared/top_repos"%>

</div>