<% content_for :head do %>
	<title>RailsRankings.com Badges for Your Web Site or Blog</title>
	<meta name="description" content="Find Rails developers based on our unique ranking system. Search Ruby on Rails development companies by city. Top Rails developers, coders, consultants and companies listed." />
	<meta name="keywords" content=""/>
<% end %>

<% content_for :top_coders do %>
	<%= render :partial => "shared/top_coders" %>
<% end %>

<div class="subpage content">
	<div id="badges">
	  <h2>Get Your RailsRankings.com Badge</h2>
	</div>
	
	<%= render :partial => "shared/top_cities" %>
	
	<%= render :partial => "shared/top_companies" %>
	
	<%= render :partial => "shared/sponsors" %>
	
	<%= render :partial => "shared/top_repos"%>

</div>