<div id="top_coders">
    <ul>
		<% @top_five.each do |coder| %>
		<li class="coder <%= "last" if coder == @top_five.last %>">
			<div class="photo">
			<%= image_tag coder.image_path, :width => "70",:height => "70", :alt => "#{coder.full_name}'s bio pic" %>
			<p class="points"><%= number_with_delimiter(coder.full_rank,{:delimiter => ","}) %></p>
			</div>
			<h4 class="rank_name"><em><%= coder.railsrank %></em> <%= coder.full_name %></h4>
			<p class="locale"><%= show_city_name(coder.city) %></p>
		</li>
		<% end %>
		<% @last_five.each do |coder| %>
		  <li class="coder_line"><%= coder.railsrank %>. <%= show_coder_link(coder) %> <span><%= show_city_name(coder.city) %></span></li>
		<% end %>
		<li><%= link_to "View All Coders","/coders/", :class => "rank_list" %></li>
    </ul>
</div>