<% content_for :head do %>
	<title>Search for Ruby on Rails developers, coders, companies and consultants on RailsRankings.com</title>
	<meta name="description" content="Find Rails developers based on our unique ranking system. Search Ruby on Rails development companies by city. Top Rails developers, coders, consultants and companies listed." />
	<meta name="verify-v1" content="D4WmRlOo3zesW7GMJuW1/nCSxEdMqGiS7L+qZYf5IAI=" />
	<meta name="keywords" content="<%=  coder_metadata(@coders)%>"/>
<% end %>

<% content_for :top_coders do %>
	<%= render :partial => "shared/top_coders" %>
<% end %>

<div class="home content">

	<%= render :partial => "shared/success_formula" %>
	
	<%= render :partial => "shared/top_cities" %>
	
	<%= render :partial => "shared/top_companies" %>
	
	<%= render :partial => "shared/sponsors" %>

</div>