<div class="results content">
	<div id="search_results">
		<% cache :all_cities do %>
			<%= will_paginate @all_cities %>
			<% @all_cities.each_with_index do |city,index| %>
				<div class="result<%= alternate_row_color(index) %>">
				<h3><span class="rank"><%= determine_rank_for_paging(index) %></span> <%= show_city_name(city.city) %></h3>
				<dl class="score_box round">
					<dt class="coders">Coders:</dt>
					<dd class="coders_count"><%= link_to("Show #{pluralize(city.count,"Coder")}", coders_path(:search => city.city)) %></dd>
					<dt class="rr_points">RailsRankings Points</dt>
					<dd class="rr_point_total"><%= "#{number_with_delimiter(city.total,{:delimiter => ","})}" %></dd>
				</dl>
				</div>  
			<% end %>
			<%= will_paginate @all_cities %>
		<% end %>
	</div>

	<%= render :partial => "shared/top_cities" %>

	<%= render :partial => "shared/sponsors" %>

	<%= render :partial => "shared/top_companies" %>

</div>