<% content_for :head do %>
	<title>RailsRankings.com: Ruby on Rails companies including product, service and screencast production companies.</title>
	<meta name="description" content="Search Top Ruby on Rails companies. Rankings include product companies, service companies, screencast production companies and internal company Rails divisions." />
	<meta name="keywords" content="<%=  company_metadata(@all_companies)%>"/>
<% end %>

<div class="results content">
	<div id="search_results">
		<% cache :all_companies do %>
			<%= will_paginate @all_companies %>
				<ul class="results_list">
				<% @all_companies.each_with_index do |company,index| %>
				<li><%= determine_rank_for_paging(index) %> > <%= show_company_name(company.company_name) %> <%= "(#{pluralize(company.count,"coder")} #{number_with_delimiter(company.total,{:delimiter => ","})} points)"  %></li>
			<% end %>
				</ul>
		<% end %>
		
		<%= will_paginate @all_companies %>
	</div>

		<%= render :partial => "shared/top_cities" %>
		
		<%= render :partial => "shared/sponsors" %>

		<%= render :partial => "shared/top_companies" %>

</div>