<% content_for :head do %>
	<title>All GitHub Repos Listed by Number of Watchers | RailsRankings.com</title>
	<meta name="description" content="A list of GitHub Repos listed in order by watcher number. Search for Rails developers, coders, companies, and cities." />
	<meta name="verify-v1" content="D4WmRlOo3zesW7GMJuW1/nCSxEdMqGiS7L+qZYf5IAI=" />
	<meta name="keywords" content="<%=  coder_metadata(@coders)%>"/>
	<link rel="canonical" href="http://railsrankings.com/coders/all_repos" />
<% end %>

<div class="results content">
	<div id="search_results">
		<%= will_paginate @all_repos %>
			<ul class="results_list">
				<% @all_repos.each_with_index do |repo,index| %>
			  <li><%= determine_rank_for_paging(index) %> > <%= show_repo_name_with_author(repo) %> <%= "(#{pluralize(repo.watchers,"watcher")} #{number_with_delimiter(show_repo_points(repo),{:delimiter => ","})} points)"%></li>
			  <% end %>
			</ul>
		<%= will_paginate @all_repos %>
	</div>

		<%= render :partial => "shared/top_cities" %>
		
		<%= render :partial => "shared/sponsors" %>

		<%= render :partial => "shared/top_companies" %>

</div>