<h1>Editing coder</h1>

<% form_for(@coder) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </p>
  <p>
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </p>
  <p>
    <%= f.label :delta %><br />
    <%= f.text_field :delta %>
  </p>
  <p>
    <%= f.label :recommendation_count %><br />
    <%= f.text_field :recommendation_count %>
  </p>
  <p>
    <%= f.label :image_path %><br />
    <%= f.text_field :image_path %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @coder %> |
<%= link_to 'Back', coders_path %>
