<div class="wrapper">
  <div id="logo">
    <img src="images/logo.gif" />
  </div>
</div><!--wrapper-->
<div id="topbar">
  <div id="searchbox">
    <h1 class="searchhdr">Find Some Rails Coders</h1>

    <% form_tag coders_path, :method => :get do %>
      <%= text_field_tag :search, params[:search]%>
      <input name="" type="image" src="/images/btn-browsecommunity.gif" id="browsecomm" onclick="this.submit();"/>
    <% end %>
    
  </div><!--search-->
</div>
<div class="graydivide"></div><!--graydivide-->
<div id="main">
  <div id="leftbar">
    <h1><%= @count %> Ranking Rails Coders</h1>
    <p class="subhead"><em>What’s your ruby ranking?</em> <a href="http://www.rubyrankings.com">Create your profile now</a>.</p>

    <%= will_paginate @coders %>

    <% @coders.each_with_index do |coder, index| %>
      <% if coder %>
      
      <div class="user greybg">
        <div class="userpic"><%=link_to image_tag(format_image_path(coder.image_path),{:size  => "90x90"}), coder_path(coder) %></div>
        <div class="rank">
          <ul>
            <li class="ranknum">Ranking: <%= show_rank(coder) %> <%= show_delta(coder) %></li>
            <li>Recommended by: <%= coder.recommendation_count %></li>
            <% if coder.github_watchers > 0 %>
              <li><img src="/images/star.gif" /> GitHub Watchers: <a href="<%= coder.github_url %>"><%= coder.github_watchers %></a></li>
            <% end %>
            <li><a href="<%= recommendation_url(coder) %>">Recommend them</a></li>
          </ul>
        </div>        
        <!--userpic-->
        <ul class="userinfo">
          <li class="username"><%=h "#{coder.full_name}" %></li>
          <li class="userlocation"><%=h coder.city %><%= ", #{h coder.country}" if coder.country %></li>
          <li class="userlocation"><%=h coder.company_name %></li>
          <li class="userlocation"><%=link_to coder.website, coder.website %></li>
        </ul>
      </div>
      <% end %>
    <% end %>


   </div>
    <!--leftbar-->
    <div id="rightbar">
      <h2>Popular Ruby Cities</h2>
      <ul id="rubycities">
        <li><a href="#">City Name</a></li>
        <li><a href="#">City Name</a></li>
        <li><a href="#">City Name</a></li>
        <li><a href="#">City Name</a></li>
      </ul>
    </div>
    <!--rightbar-->
    <div style="clear:both;"></div>
    <!--clearing div-->
  </div>
  <!--main-->

  <div id="footer"><div class="graydivide"></div><!--graydivide-->
    <div class="wrapper">
      <p>Disclaimer: This is a publicly accessible database. The views and opinions of originators and contributors expressed on this site do not necessarily state or reflect those of DSC Limited. No representation or warranty is given as regards to any applicability of any suggestion, its accuracy or completeness.</p>
    </div>
    <!--wrapper-->
  </div>
  <!--footer-->
