
<% content_for :head do %>
	<title><%= show_search_term %> | RailsRankings.com</title>
	<meta name="description" content="Over <%= pluralize(@count,"Rails Coder") %> Rails developers matching '<%= params[:search] %>'." />
	<meta name="verify-v1" content="D4WmRlOo3zesW7GMJuW1/nCSxEdMqGiS7L+qZYf5IAI=" />
	<meta name="keywords" content="<%=  coder_metadata(@coders)%>"/>
<% end %>

<div class="results content">
	<div id="search_results">
    <h2><%= pluralize(@count,"Rails Coder") %> <%= show_search_term %></h2>
    
    <%= will_paginate @coders %>
    <% @coders.each_with_index do |coder, index| %>
      <% if coder %>
			<div class="result<%= alternate_row_color(index) %>">
				<div class="photo"><%=link_to image_tag(format_image_path(coder.image_path),{:size  => "40x40", :alt => coder.full_name}), coder_path(coder) %></div>
				<h3 class="coder" title="<%= coder.full_name %>, Ruby on Rails Developer"><span class="rank"><%= show_rank(coder) %></span> <%= link_to "#{coder.full_name}",coder_path(coder), :title => "View #{coder.full_name}'s, RailsRankings.com Profile" %></h3>
				<p class="locale"><%=h coder.city %><%= ", #{h coder.country}" if coder.country %></p>
				<dl class="score_box">
					<dt class="wwr_rank">WWR Rank</dt>
					<dd class="wwr_rank_number"><%= coder.rank %></dd>
					<dt class="watchers">GitHub Watchers</dt>
					<dd class="watchers_number"><%= coder.github_watchers %></dd>
					<dt class="rr_points">RailsRanking Points</dt>
					<dd class="rr_point_total"><%= number_with_delimiter(coder.full_rank,{:delimiter => ","}) %></dd>
				</dl>
			</div>
      <% end %>
  		<%= render :partial => "shared/text_ad" if should_show_text_ad?(index) %>
    <% end %>

    <%= will_paginate @coders %>

    </div>

		<%= render :partial => "shared/top_cities" %>
		
		<%= render :partial => "shared/sponsors" %>

		<%= render :partial => "shared/top_companies" %>

</div>
