
<% content_for :head do %>
	<title>Search for Ruby on Rails developers, coders, companies and consultants on RailsRankings.com</title>
	<meta name="description" content="RailsRankings, over <%= pluralize(@count,"Rails Coder") %> matching '<%= params[:search] %>'. Search for Rails developers, coders, companies, and cities." />
	<meta name="verify-v1" content="D4WmRlOo3zesW7GMJuW1/nCSxEdMqGiS7L+qZYf5IAI=" />
	<meta name="keywords" content="<%=  coder_metadata(@coders)%>"/>
<% end %>

<div class="results content">
	<div id="search_results">
    <h2><%= pluralize(@count,"Rails Coder") %> Matched "<%= params[:search] %>"</h2>
    
    <%= will_paginate @coders %>
    <% @coders.each_with_index do |coder, index| %>
      <% if coder %>
      
      <!--<%= alternate_row_color(index) %>"-->
		<%=link_to image_tag(format_image_path(coder.image_path),{:size  => "75x75", :alt => coder.full_name}), coder_path(coder) %>
		<span class="rr_points" title="RailsRankings points"><%= number_with_delimiter(coder.full_rank,{:delimiter => ","}) %></span>
        	<% if coder.github_watchers > 0 %>
    			  <ul class="github_rank rounded">
    				  <li class="github_watchers" title="public repo github watchers"><a href="<%= coder.github_url %>"><%= coder.github_watchers %></a></li>
    			  </ul>
    			<% end %>  
	        <a href="#"><%= show_rank(coder) %></a>	

	        <!-- <%= show_delta(coder) %>
			<p><%= coder.recommendation_count %> Recommendations</p>
	      	<p><%= link_to "Recommend on WWR",recommendation_url(coder), :target => "_new" %></p> 
			-->

        <!--userpic-->
        <ul class="user_info">
          <li class="name"><%= link_to "#{coder.full_name}",coder_path(coder) %></li>
          <li class="city"><%=h coder.city %><%= ", #{h coder.country}" if coder.country %></li>
          <li class="company"><%=h coder.company_name %></li>
          <li class="website"><%=link_to coder.website, coder.website, :target => "_new" %></li>
        </ul>
      <% end %>
    <% end %>
    

    <%= will_paginate @coders %>

    </div>

		<%= render :partial => "shared/top_cities" %>
		
		<%= render :partial => "shared/sponsors" %>

		<%= render :partial => "shared/top_companies" %>

</div>
