<h1>Rails Coders</h1>
<% form_tag coders_path, :method => :get do %>
  <%= text_field_tag :search, params[:search]%>
	<%= submit_tag "Filter" %>
<% end %>
<h3><%= @count %> matching coders</h3>

<%= will_paginate @coders %>

<table>
  <tr>
    <th>Rank in Search</th>
    <th>Full name</th>
    <th>Location</th>
    <th>Rank</th>
    <th>Website</th>
    <th>WWR URL</th>
    <th>Rec count</th>
    <th>Image path</th>
	<th>&nbsp;</th>
  </tr>

<% @coders.each_with_index do |coder, index| %>
  <% if coder %>
  <tr>
    <td><%= index + page_index %>
    <td><%=h coder.full_name %></td>
    <td><%=h coder.city %></td>
    <td><%=h coder.rank %></td>
    <td style="width: 50px;"><%=link_to coder.website, coder.website %></td>
    <td><%=link_to 'WWR URL',coder.profile_url %></td>
    <td><%=coder.recommendation_count %></td>
    <td><%=image_tag(format_image_path(coder.image_path),{:size  => "75x75"}) if not coder.rank.blank? %></td>
    <td><%= link_to 'Show', coder %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New coder', new_coder_path %>
