
<div id="topbar">
  <div id="searchbox">
    <h1 class="searchhdr">Whittle it down a bit</h1>

    <% form_tag coders_path, :method => :get do %>
      <%= text_field_tag :search, params[:search]%>
      <input name="" type="image" src="/images/btn-search.gif" id="search-btn" onclick="this.submit();"/>
    <% end %>
    <div>
      <p class="desc">You can use any of the thinking sphinx boolean search options to whittle the field of ranked rails coders down.  Rank is based on the <%= link_to "workingwithrails.com","http://workingwithrails.com/", :target => "_new" %> ranking
      and a star signifies that the coder has at least one public <%= link_to "github","http://www.github.com/",:target => "_new" %> repo displaying the total number of repo watchers they have.  Github repo authorship is determined by the alias field from the coder's WWR profile.
      </p>
    </div>
  </div><!--search-->
</div>
<div class="graydivide"></div><!--graydivide-->
<div id="main">
  <div id="leftbar">
    <h1><%= @count %> Ranking Rails Coders</h1>
    <p class="subhead"><em>What’s your ruby ranking?</em> <a href="http://www.rubyrankings.com">Create your profile now</a>.</p>
    
    <%= will_paginate @coders %>
    
    <% @coders.each_with_index do |coder, index| %>
      <% if coder %>
      
      <div class="<%= alternate_row_color(index) %>">
        <div class="userpic"><%=link_to image_tag(format_image_path(coder.image_path),{:size  => "90x90"}), coder_path(coder) %></div>
        <div class="rank">
          <ul>
            <li class="ranknum">Ranking: <%= show_rank(coder) %> <%= show_delta(coder) %></li>
            <li>Recommended by: <%= coder.recommendation_count %></li>
            <% if coder.github_watchers > 0 %>
              <li><img src="/images/star.gif" /> GitHub Watchers: <a href="<%= coder.github_url %>"><%= coder.github_watchers %></a></li>
            <% end %>
            <li><a href="<%= recommendation_url(coder) %>">Recommend them</a></li>
          </ul>
        </div>        
        <!--userpic-->
        <ul class="userinfo">
          <li class="username"><%=h "#{coder.full_name}" %></li>
          <li class="userlocation"><%=h coder.city %><%= ", #{h coder.country}" if coder.country %></li>
          <li class="userlocation"><%=h coder.company_name %></li>
          <li class="userlocation">full rank: <%= coder.full_rank %></li>
          <li class="userlocation"><%=link_to coder.website, coder.website %></li>
        </ul>
      </div>
      <% end %>
    <% end %>


   </div>
    <!--leftbar-->
    <div id="rightbar">
      <h2>Top Rails Cities</h2>
        <%= render :partial => "city_rankings" %>
      <h2>Top Ranked Companies</h2>
        <%= render :partial => "company_rankings" %>
    </div>
    <!--rightbar-->
    <div style="clear:both;"></div>
    <!--clearing div-->
  </div>
  <!--main-->

  <div id="footer"><div class="graydivide"></div><!--graydivide-->
    <div class="wrapper">
      <p>Disclaimer: This is a publicly accessible database. The views and opinions of originators and contributors expressed on this site do not necessarily state or reflect those of DSC Limited. No representation or warranty is given as regards to any applicability of any suggestion, its accuracy or completeness.</p>
    </div>
    <!--wrapper-->
  </div>
  <!--footer-->
