<% content_for :head do %>
	<title><%=h "#{@coder.full_name}" %>, Developer on RailsRankings.com | Ruby on Rails Developer, Company and Consultant Rankings</title>
	<meta name="description" content="Get more information on <%=h "#{@coder.full_name}" %>. Find other Rails developers based on our unique ranking system. Search Ruby on Rails development companies by city. Top Rails developers, coders, consultants and companies listed." />
	<%= stylesheet_link_tag "tables" %>
<% end %>

<div id="page" class="top_rule">
	<div id="content">
	  	<div class="profile">
			<div class="profile_pic">
				<%=link_to image_tag(format_image_path(@coder.image_path),{:size  => "150x150", :alt => @coder.full_name}), coder_path(@coder) %>
			</div>
			<div class="rank">
				<div class="wwr_rank" title="RailsRanking Rank">
					<%= link_to show_rank(@coder), @coder.profile_url %>
					<div class="rank_change rounded">
						<%= show_delta(@coder) %>
					</div>
				</div>
				<p>workingwithrails rank: <%= @coder.rank %></p>	
				<p><%= @coder.recommendation_count %> WWR Recommendations</p>
				<p><%= link_to "Recommend #{ @coder.full_name[0..35] }", @coder.profile_url %></p>
				<br class="clr" />   

				<% if @coder.github_watchers > 0 %>
				<ul class="github_rank rounded">
					<li class="github_watchers"><a href="<%= @coder.github_url %>"><%= @coder.github_watchers %></a></li>
					<li>Total github <%= pluralize(@coder.github_watchers,"watcher") %> across [<%= @repos.size %>] projects.</li>
				</ul>
				<% end %>
			</div>

			<!--userinfo-->
			<ul class="user_info">
				<li class="username"><%=h "#{@coder.full_name}" %></li>
				<li class="userlocation">RailsRankings Points: <%= number_with_delimiter(@coder.full_rank,{:delimiter => ","}) %></li>      
				<li class="userlocation"><%=h @coder.city %><%= ", #{h @coder.country}" if @coder.country %></li>
				<li class="userlocation"><%=h @coder.company_name %></li>
				<li class="userlocation"><%=link_to @coder.website, @coder.website %></li>
				<li class="userlocation">Rails core contributor: <%= is_core_contributor?(@coder) %></li>
				<li class="userlocation">Can you hire <%="#{@coder.first_name}"%>? <%= available_for_hire?(@coder) %></li>								
			
				<li class="userlocation">  <%= link_to "Check out #{@coder.first_name}'s WWR Profile",@coder.profile_url, { :title => "View #{@coder.first_name}'s Profile on Working With Rails"} %></li>
			</ul>
		 </div>

		<div class="github_watchers">
			<h2>Github Public Repos</h2>
			<div id="github_repos">
			<table cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th>Repo Name</th>
						<th>Forked?</th>
						<th>Description</th>
						<th>Forks</th>
						<th>Watchers</th>
					</tr>
				</thead>
				<tbody>
					<%= render :partial => "github_repos", :collection => @repos, :as => :repo unless @repos.empty? %>
				</tbody>
			</table>
			</div>
			<div id="github_latest">
				<%= render :partial => "github_commits", :locals => { :commits => @commits } unless @commits.empty? %>
			</div>
			<br class="clr" />
		</div>
		<div class="nav_links">
			<%= link_to "Back to search", coders_path(:search => cookies[:search_term]) %>
		</div>
	</div><!-- Close Content -->
</div><!-- Close Page -->