<% content_for :head do %>
	<title><%=h "#{@coder.full_name}" %>, Developer on RailsRankings.com | Ruby on Rails Developer, Company and Consultant Rankings</title>
	<meta name="description" content="Get more information on <%=h "#{@coder.full_name}" %>. Find other Rails developers based on our unique ranking system. Search Ruby on Rails development companies by city. Top Rails developers, coders, consultants and companies listed." />
	<%= stylesheet_link_tag "tables" %>
<% end %>

<div class="profile content">
	<div id="detail">
		<p class="rank"><%= link_to show_rank(@coder), @coder.profile_url %></p>
		<h3><%=h "#{@coder.full_name}" %></h2>
		<p class="locale"><%=h @coder.city %><%= ", #{h @coder.country}" if @coder.country %></p>
		<div id="mugshot">
			<%=link_to image_tag(format_image_path(@coder.image_path),{:size  => "125x125", :alt => @coder.full_name}), coder_path(@coder) %>
		</div>
		
		<div id="stats">
			<dl class="score_box">
				<dt class="wwr_rank">WWR Rank</dt>
				<dd class="wwr_rank_number"><%= link_to("#{@coder.rank}", @coder.profile_url, { :title => "View #{@coder.first_name}'s Profile on Working With Rails"}) %></dd>
				<dt class="watchers">GitHub Watchers</dt>
				<dd class="watchers_number"><a href="<%= @coder.github_url %>"><%= @coder.github_watchers %></a></dd>
				<dt class="rr_points">RailsRanking Points</dt>
				<dd class="rr_point_total"><%= number_with_delimiter(@coder.full_rank,{:delimiter => ","}) %></dd>
			</dl>
			
			<p class="wwr_recommend"><%= @coder.recommendation_count %> WWR Recommendations, <%= link_to "Recommend #{ @coder.full_name[0..35] }", @coder.profile_url %></p>
			
			<% if @coder.github_watchers > 0 %>
				<p class="github_watchers"><%=h "#{@coder.full_name}" %> has <%= pluralize(@coder.github_watchers,"watcher") %> across [<%= @repos.size %>] projects.</p>
			<% end %>
		</div>
		
		<div class="rails_status">
			<%= rails_core_status(@coder) %>
		</div>
		
		<dl id="info">
			<dt>Company</dt>
			<dd><%=h @coder.company_name %>
			<dt>Web Site:</dt>
			<dd><%=link_to @coder.website, @coder.website %></dd>
			<dt>Availability:</dt>
			<dd><%= available_for_hire?(@coder) %></dd>
			<% if @coder.twitter_name %>
				<dt class="twitter">Twitter:</dt>
				<dd><%=link_to @coder.twitter_name, "http://twitter.com/#{@coder.twitter_name}", :target => "_new" %></dd>
			<% end %>
		</dl>
		
		<p class="timestamp"><strong>Last Updated:</strong> <%= distance_of_time_in_words(@coder.updated_at,Time.now,true) %> ago</p>
	</div>

	<%= render :partial => "shared/sponsors" %>
	
	<div id="github_repos">
		<h4>Github Public Repos</h2>
		<table cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>Repo Name</th>
					<th>Forked?</th>
					<th>Description</th>
					<th>Forks</th>
					<th>Watchers</th>
				</tr>
			</thead>
			<tbody>
				<%= render :partial => "github_repos", :collection => @repos, :as => :repo unless @repos.empty? %>
			</tbody>
		</table>

		<%= render :partial => "github_commits", :locals => { :commits => @commits } unless @commits.empty? %>
	</div>
	
	<%= link_to "Back to search", coders_path(:search => cookies[:search_term]), :class => "back_link" %>
</div>