<div class="graydivide"></div><!--graydivide-->
<div id="show_container">

  <div class="show_user">
    <div class="userprofilepic"><%=link_to image_tag(format_image_path(@coder.image_path),{:size  => "150x150"}), coder_path(@coder) %></div>
    <div class="rank">
      <div class="wwr_rank"><a href="#"><%= show_rank(@coder) %> <%= show_delta(@coder) %></a></div>
        <p><%= @coder.recommendation_count %> Recommendations</p>
      <p><a href="#">Recommend <%= @coder.first_name[0..20] %></a></p>
      <br class="clr" />   
		<% if @coder.github_watchers > 0 %>
			<ul class="github_rank rounded">
				<li class="github_watchers"><a href="<%= @coder.github_url %>"><%= @coder.github_watchers %></a></li>
				<li>Total github watchers across [<%= @repos.size %>] projects.</li>
			</ul>
		<% end %>
    </div>        
    <!--userpic-->
    <ul class="userinfo">
      <li class="username"><%=h "#{@coder.full_name}" %></li>
      <li class="userlocation">RailsRankings Points: <%= number_with_delimiter(@coder.full_rank,{:delimiter => ","}) %></li>      
      <li class="userlocation"><%=h @coder.city %><%= ", #{h @coder.country}" if @coder.country %></li>
      <li class="userlocation"><%=h @coder.company_name %></li>
      <li class="userlocation"><%=link_to @coder.website, @coder.website %></li>
      <li class="userlocation">alias: <%= h @coder.nickname %></li>
      <li class="userlocation">  <%= link_to "WWR Profile",@coder.profile_url %></li>
    </ul>
  </div>

  <div class="github_watchers">
    <h2>Public Repos</h2>
    <div id="repos_all">
    <%= render :partial => "github_repos", :collection => @repos, :as => :repo unless @repos.empty? %>
    </div>
  </div>
</div>

<%= link_to "Back", coders_path(:search => cookies[:search_term]) %>
